.event-page {
  background-color: #f2f4f8;
  padding-left: 4rem;
  width: 100%;
  .event-body {
    .event-img {
      img {
        border-radius: 40px 40px 40px 40px;
      }
    }
    .event-content {
      display: flex;
      flex-direction: row;
      flex-wrap: wrap;
      justify-content: space-between;
      color: #414061;

      .event-content-left {
        margin-top: 1.8rem;
        display: flex;
        flex-direction: column;

        .event-description {
          .event-name {
            font-weight: bolder;
            font-weight: 500;
            margin-top: 2rem;
          }
          .event-about {
            display: flex;
            flex-direction: column;
            font-weight: bolder;
            .event-time {
              margin-top: 1.8rem;
              color: #636272;
            }
            .event-location {
              margin-top: 1rem;
              color: #636272;
            }
            a {
              text-decoration: none;
              cursor: pointer;
            }
            img {
              height: 18px;
              padding-right: 12px;
            }
          }
        }

        .event-para {
          margin-top: 3rem;
          border-top: 1.5px solid #cfcfdbec;
          width: 44rem;
          color: #636272;
          font-size: 15px;
          .event-para-1 {
            margin-top: 3.2rem;
            margin-bottom: 1rem;
          }
          .event-para-2 {
            margin-bottom: 3.2rem;
          }
        }
        .event-restriction {
          border-top: 1.5px solid #cfcfdbec;

          h5 {
            margin-top: 2.7rem;
            font-weight: bolder;
            color: rgb(63, 51, 51);
            margin-bottom: 2rem;
          }
          .event-restriction-data {
            display: flex;
            flex-direction: column;
            flex-wrap: wrap;
            height: 20rem;

            img {
              height: 38px;
              width: 55px;
              padding-right: 1rem;
            }
            p {
              margin-bottom: 1.5rem;
            }
          }
          .event-weather {
            display: flex;
            flex-direction: row;

            img {
              height: 32px;
              width: 50px;
              margin-right: 5px;
              margin-top: 3px;
            }
            p {
              font-size: 30px;
              font-weight: bolder;
            }

            .weather-body {
              display: flex;
              flex-direction: column;
              margin-left: 1rem;
              span {
                font-size: 15px;
              }
            }
          }
        }
        .event-ubicacion {
          margin-top: 2rem;
          border-top: 1.5px solid #cfcfdbec;
          h5 {
            margin-top: 2.7rem;
            font-weight: bolder;
            color: rgb(63, 51, 51);
            margin-bottom: 2rem;
          }
          .event-ubicacion-data {
            img {
              height: 300px;
              width: 670px;
              border-radius: 20px 20px 20px 20px;
            }
            p {
              font-weight: bold;
            }
            button {
              font-size: 15px;
              font-weight: bold;
              border-radius: 10px 10px 10px 10px;
            }
          }
        }
        .event-pagina {
          margin-top: 4rem;
          border-top: 1.5px solid #cfcfdbec;
          display: flex;
          flex-direction: row;
          justify-content: space-between;
          .event-pagina-link {
            h5 {
              font-weight: bolder;
              color: rgb(63, 51, 51);
              margin-bottom: 1rem;
            }
            a {
              text-decoration: none;
              cursor: pointer;
            }
          }
          .event-pagina-socialmedia {
            margin-top: 4rem;

            img {
              padding-right: 14px;
            }
          }
        }
        .event-sponsor {
          border-top: 1.5px solid #cfcfdbec;
          display: flex;
          flex-direction: row;
          flex-wrap: wrap;
          justify-content: space-between;

          .event-sponsor-data {
            margin-top: 1rem;
            .between {
              margin-right: 2.5rem;
            }
            img.Sponsor1 {
              height: 3.5rem;
              width: 5rem;
            }
            img.Sponsor2 {
              height: 4rem;
              width: 4rem;
            }
            img.Sponsor3 {
              height: 4.5rem;
              width: 6rem;
            }
            img.Sponsor4 {
              height: 2rem;
              width: 9.5rem;
            }
            img.Sponsor5 {
              height: 2.5rem;
              width: 9rem;
            }
          }
        }
      }
      .event-content-right {
        margin-top: 2.5rem;

        .ball-img {
          position: relative;
          top: -6rem;
          right: 5.5rem;
          img {
            padding: 20px;
            height: 100px;
            background-color: white;
            border-radius: 50%;
            float: right;
          }
        }

        .link-img {
          color: #414061;
          text-decoration: none;
          cursor: pointer;
          display: flex;
          flex-direction: row;
          margin-top: 2rem;
          float: right;
          margin-bottom: 4rem;
          border-bottom: 1px solid #414061;

          img {
            height: 28px;
            padding-right: 5px;
          }
        }
        .event-card {
          margin-top: 3.8rem;
          margin-right: 2rem;
          border: 2px solid #fff;
          border-radius: 30px 30px 30px 30px;
          box-shadow: 1px 1px 5px 8px rgba(219, 214, 214, 0.295);

          .first {
            font-size: 22px;
            font-weight: 800;
          }
          span {
            float: right;
            color: rgba(45, 131, 243, 0.822);
            font-weight: 700;
          }
          .last {
            border-radius: 0 0 30px 30px;
            background: rgba(45, 131, 243, 0.822);
            font-size: 22px;
          }
        }
      }
    }
  }
}
@media only screen and (max-width: 1280px) {
  .event-page {
    .event-body {
      .event-content {
        .event-content-left {
          .event-para {
            width: 44rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1240px) {
  .event-page {
    padding-left: 3rem;
    width: 100%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-para {
            font-size: 15px;
            
          }
          .event-restriction {
            .event-restriction-data {
              height: auto;
            }
          }

          .event-sponsor {
            .event-sponsor-data {
              .between {
                margin-right: 2.5rem;
              }

              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          margin-top: 2.5rem;
          width: 40%;
          .ball-img {
            position: relative;
            top: -6rem;
            right: 4.5rem;
            img {
              padding: 20px;
              height: 100px;
              background-color: white;
              border-radius: 50%;
              float: right;
            }
          }

          .link-img {
            border-bottom: none;
            width: 9%;
            p {
              visibility: hidden;
            }
          }
          .event-card {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 1024px) {
  .event-page {
    padding-left: 3rem;
    width: 100%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-para {
            font-size: 15px;
          }
          .event-restriction {
            .event-restriction-data {
              height: auto;
            }
          }

          .event-sponsor {
            .event-sponsor-data {
              .between {
                margin-right: 2.5rem;
              }

              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          margin-top: 2.5rem;
          width: 40%;
          .ball-img {
            position: relative;
            top: -6rem;
            right: 4.5rem;
            img {
              padding: 20px;
              height: 100px;
              background-color: white;
              border-radius: 50%;
              float: right;
            }
          }

          .link-img {
            border-bottom: none;
            width: 9%;
            p {
              visibility: hidden;
            }
          }
          .event-card {
            visibility: hidden;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  .event-page {
    padding-left: 3rem;
    width: 110%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;

          .event-para{
            width: 40rem;
          }
          .event-sponsor {
            .event-sponsor-data {
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }

          .link-img {
            border-bottom: none;
            width: 9%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 768px) {
  .event-page {
    padding-left: 3rem;
    width: 135%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-sponsor {
            .event-sponsor-data {
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }

          .link-img {
            border-bottom: none;
            width: 9%;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 720px) {
  .event-page {
    padding-left: 2.5rem;
    width: 142%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-sponsor {
            .event-sponsor-data {
              .between {
                margin-right: 2.5rem;
              }
              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 640px) {
  .event-page {
    padding-left: 3rem;
    width: 200%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-para {
            width: 130%;
          }
          .event-restriction {
            width: 130%;
          }
          .event-ubicacion {
            width: 130%;
          }
          .event-pagina {
            width: 130%;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            .event-pagina-socialmedia {
              margin-top: 0rem;
            }
          }
          .event-sponsor {
            width: 130%;
            .event-sponsor-data {
              .between {
                margin-right: 7rem;
              }
              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
                margin-top: 0rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .event-page {
    padding-left: 2.5rem;
    width: 200%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-para {
            width: 130%;
          }
          .event-restriction {
            width: 130%;
          }
          .event-ubicacion {
            width: 130%;
          }
          .event-pagina {
            width: 130%;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            .event-pagina-socialmedia {
              margin-top: 0rem;
            }
          }
          .event-sponsor {
            width: 130%;
            .event-sponsor-data {
              .between {
                margin-right: 7rem;
              }
              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
                margin-top: 0rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 540px) {
  .event-page {
    padding-left: 2.5rem;
    width: 200%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-restriction {
            width: 130%;
          }
          .event-ubicacion {
            width: 130%;
          }
          .event-pagina {
            width: 130%;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            .event-pagina-socialmedia {
              margin-top: 0rem;
            }
          }
          .event-sponsor {
            width: 130%;
            .event-sponsor-data {
              .between {
                margin-right: 9rem;
              }
              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
                margin-top: 3rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 500px) {
  .event-page {
    padding-left: 2.5rem;
    width: 200%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-restriction {
            width: 130%;
          }
          .event-ubicacion {
            width: 130%;
          }
          .event-pagina {
            width: 130%;
            display: flex;
            flex-direction: column;
            margin-bottom: 3rem;
            .event-pagina-socialmedia {
              margin-top: 0rem;
            }
          }
          .event-sponsor {
            width: 130%;
            .event-sponsor-data {
              .between {
                margin-right: 9rem;
              }
              img.Sponsor4 {
                height: 2rem;
                width: 9.5rem;
                margin-top: 3rem;
              }
              img.Sponsor5 {
                height: 2.5rem;
                width: 9rem;
                margin-top: 3rem;
              }
            }
          }
        }
        .event-content-right {
          .ball-img {
            top: -6rem;
            right: 4.5rem;
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 480px) {
  .event-page {
    padding-left: 2.5rem;
    width: 260%;
  }
}

@media only screen and (max-width: 400px) {
  .event-page {
    padding-left: 2.5rem;
    width: 260%;
  }
}

@media only screen and (max-width: 412px) {
  .event-page {
    padding-left: 2.5rem;
    width: 280%;
    .event-body {
      .event-content {
        .event-content-left {
          width: 60%;
          .event-sponsor {
            width: 130%;
            .event-sponsor-data {
              .between {
                margin-right: 9rem;
              }
            }
          }
        }
      }
    }
  }
}

@media only screen and (max-width: 360px) {
  .event-page {
    padding-left: 2.5rem;
    width: 280%;
  }
}

@media only screen and (max-width: 320px) {
  .event-page {
    padding-left: 2.5rem;
    width: 320%;
  }
}

@media only screen and (max-width: 280px) {
  .event-page {
    padding-left: 2.5rem;
    width: 390%;
  }
}

@media only screen and (max-width: 240px) {
  .event-page {
    padding-left: 2.5rem;
    width: 390%;
  }
}
